<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>complete responsive coffee shop website design tutorial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/css/style.css">

</head>
<body>
    @RenderBody()
    <section class="home" id="home">

        <div class="container">

            <div class="row align-items-center text-center text-md-left min-vh-100">
                <div class="col-md-6">
                    <span>coffee house</span>
                    <h3>start your day with our coffee</h3>
                    <a href="#" class="link-btn">get started</a>
                </div>
            </div>

        </div>

    </section>


    <section class="about" id="about">

        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6">
                    <img src="~/Content/images/about-img-1.png" class="w-100" alt="">
                </div>
                <div class="col-md-6">
                    <span>why choose us?</span>
                    <h3 class="title">the best coffee maker in the town</h3>
                    <p>Longing for the whole coffee group if this post gets a high score :)))).</p>
                    <a href="#" class="link-btn">read more</a>
                    <div class="icons-container">
                        <div class="icons">
                            <i class="fas fa-coffee"></i>
                            <h3>best coffee</h3>
                        </div>
                        <div class="icons">
                            <i class="fas fa-shipping-fast"></i>
                            <h3>free delivery</h3>
                        </div>
                        <div class="icons">
                            <i class="fas fa-headset"></i>
                            <h3>24/7 service</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section class="menu" id="menu">

        <h1 class="heading"> our menu </h1>

        <div class="container box-container">

            <div class="box">
                <img src="~/Content/images/menu-1.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

            <div class="box">
                <img src="~/Content/images/menu-2.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

            <div class="box">
                <img src="~/Content/images/menu-3.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

            <div class="box">
                <img src="~/Content/images/menu-4.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

            <div class="box">
                <img src="~/Content/images/menu-5.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

            <div class="box">
                <img src="~/Content/images/menu-6.png" alt="">
                <h3>coffee bean</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
                <a href="#" class="link-btn">read more</a>
            </div>

        </div>

    </section>

    <section class="gallery" id="gallery">

        <h1 class="heading"> our gallery </h1>

        <div class="box-container container">

            <div class="box">
                <img src="~/Content/images/g-img-1.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/images/g-img-2.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/images/g-img-3.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/images/g-img-4.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/images/g-img-5.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/images/g-img-6.jpg" alt="">
                <div class="content">
                    <h3>morning coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, dolore?</p>
                    <a href="#" class="link-btn">read more</a>
                </div>
            </div>

        </div>

    </section>
    <script src="~/Scripts/js/script.js"></script>

</body>
</html>